.mapboxgl-popup {
  max-width: 100px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Gayathri', sans-serif;
  color: #6f4a8e;
  background-color: #ebecf1;
  border-color: #228B22;
  max-width: 200px;
  box-shadow: 3px 3px 2px #6a197d;
}